*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.node{
    display: inline-block;
    margin: 10px;
    background-color: rgb(52, 131, 52);
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
}